---
---

<div class="fixed top-0 left-0 right-0 z-50 bg-base-100 border-b border-base-200 animate-fade-in">
  <div class="container-custom navbar h-16">
    <div class="flex-1">
      <a href="/" class="text-lg font-medium tracking-tight text-base-content">MeetJoshi<span class="text-primary">.info</span></a>
    </div>
    <div class="flex-none hidden lg:block">
      <ul class="menu menu-horizontal gap-1 px-1">
        <li><a href="/projects" class="font-medium rounded-md transition-all hover:bg-primary/10">Projects</a></li>
        <li><a href="/blogs" class="font-medium rounded-md transition-all hover:bg-primary/10">Blog</a></li>
        <li><a href="/#about" class="font-medium rounded-md transition-all hover:bg-primary/10">About</a></li>
        <li><a href="/#contact" class="font-medium rounded-md px-4 btn btn-sm btn-primary hover:scale-105 transition-transform">Contact</a></li>
      </ul>
    </div>

    <!-- Mobile menu dropdown -->
    <div class="dropdown dropdown-end lg:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost btn-sm">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow-md bg-base-100 rounded-box w-52 mt-2 animate-slide-in-right">
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blogs">Blog</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>